$basic-gray: #F2F2F2;
$text-promo-catalog: #444444;

.catalog-slim {
  width: 280px;
  min-height: 266px;
  margin: 0 20px;
  background-color: $basic-gray;
  margin-top: 15px;
}

.catalog-slim__wrapper {
  padding-left: 20px;
  padding-right: 33px;
  padding-top: 5px;
  box-sizing: border-box;
}

.catalog-slim__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-slim__text {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: $text-promo-catalog;
}

.catalog-slim__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
