.catalog-add {
  margin-bottom: 10px;
}

.catalog-add__wrapper {
  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1440px) {
    margin: 0;
  }
}

.catalog-add__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-add__item {
  border-top: 1px solid $light-gray-border-catalog;
  border-bottom: 1px solid $light-gray-border-catalog;
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: auto auto;

  span {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  @media (min-width: 768px) {
    grid-template-rows: auto auto;
    align-self: flex-end;
    grid-template-columns: 59% 26% 15%;
    border: 1px solid $light-gray-border-catalog;
    padding: 19px 36px;
    box-sizing: border-box;
  }

  @media (min-width: 1440px) {
    width: 896px;
    grid-template-columns: 325px 245px 1fr 1fr;
    height: 72px;
    align-items: center;
    padding: 0;
    border-left: none;
    border-right: none;
    grid-template-rows: auto;
  }
}

.catalog-add__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 26px;
  margin-bottom: 36px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: -26px;
    width: 320px;
    height: 1px;
    background-color: $light-gray-border-catalog;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: -20px;
    top: 15px;
    width: 53px;
    height: 2px;
    background-color: $basic-green;
  }

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin: 51px 38px 78px 38px;

    &::before {
      left: -68px;
      top: 20px;
      width: 30px;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      right: -68px;
      top: 20px;
      width: 328px;
    }
  }

  @media (min-width: 1440px) {
    margin-bottom: 80px;
    margin-top: 57px;
    margin-left: 0;

    &::before {
      left: -110px;
      top: 23px;
      width: 70px;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      left: 373px;
      top: 23px;
      width: 957px;
    }
  }
}

.catalog-add__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: -1/1;
  margin-bottom: 13px;
  margin-top: 12px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    grid-column: 1;
    margin-bottom: 10px;
    margin-top: 9px;
  }
}

.catalog-add__button {
  grid-column: -1/1;
  margin-top: 15px;
  margin-bottom: 5px;

  @media (min-width: 768px) {
    margin-top: 13px;
    margin-bottom: 6px;
  }

  @media (min-width: 1440px) {
    grid-column: 4;
    justify-self: end;
    margin: 6px 0;
  }
}

.catalog-add__price {
  justify-self: end;

  @media (min-width: 768px) {
    margin-top: 11px;
    margin-bottom: 7px;
  }

  @media (min-width: 1440px) {
    grid-column: 3;
    margin: 0;
    margin-top: 7px;
    justify-self: start;
  }
}

.catalog-add__text {
  @media (min-width: 768px) {
    justify-self: end;
    margin-top: 12px;
    margin-bottom: 6px;
  }

  @media (min-width: 1440px) {
    grid-column: 2;
    margin: 0;
    margin-top: 7px;
    justify-self: start;
  }
}
