$basic-gray: #F2F2F2;
$special-dark-gray: #444444;

.catalog-pro {
  width: 280px;
  height: 266px;
  margin: 0 20px;
  background-color: $basic-gray;
  margin-top: 15px;
}

.catalog-pro__wrapper {
  padding-left: 20px;
  padding-right: 33px;
  padding-top: 5px;
  box-sizing: border-box;
}

.catalog-pro__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-pro__text {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-gray;
}

.catalog-pro__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
