.catalog-pro {
  position: relative;
}

.catalog-pro__title::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 25px;
  width: 67px;
  height: 50px;
  background: url("../img/icon/cat-strong.svg") no-repeat;

  @media (min-width: 768px) {
    width: 268px;
    height: 200px;
    left: 412px;
    top: 91px;
    background: url("../img/icon/cat-pro-large.svg") no-repeat;
  }

  @media (min-width: 1440px) {
    width: 134px;
    height: 100px;
    left: 33px;
    top: 45px;
    background: url("../img/icon/cat-pro-medium.svg") no-repeat;
  }
}

@media (min-width: 768px) {
  .catalog-pro__text span {
    display: block;
  }
}

@media (min-width: 1440px) {
  .catalog-pro__text span {
    display: inline;
  }
}

.catalog-pro__link {
  &:active {
    opacity: 30%;
  }
}

.catalog-pro__link::after {
  content: "";
  position: absolute;
  left: 99px;
  top: 6px;
  width: 32px;
  height: 12px;
  background: url("../img/icon/arrow.svg") no-repeat;

  @media (min-width: 768px) {
    left: 129px;
    top: 9px;
  }
}

.catalog-pro__link:hover {
  &::after {
    transform: scaleX(1.3);
  }
}
