.description__wrapper {
  width: 280px;
  margin: 0 20px;
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.description__list {
  padding-left: 100px;
  list-style: none;
}

.description__item {
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}
