.form {
  min-width: 280px;
  margin: 0 20px;
  padding-bottom: 17px;

  fieldset {
    border: none;
    padding: 0;
  }

  span {
    margin-top: 5px;
  }

  @media (min-width: 768px) {
    min-width: 628px;
    margin: 0 30px;
    position: relative;
  }

  @media (min-width: 1440px) {
    min-width: 1220px;
    margin: 0 110px;
    position: relative;
  }
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 20px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin: 26px 0 42px -1px;
  }

  @media (min-width: 1440px) {
    margin: 37px 0 45px 0;
  }
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 11px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 37px;
  }
}

.form__worksheet {
  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
}

.form__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;

  span {
    padding-right: 4px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    position: absolute;
    right: 104px;
    bottom: 32px;
  }

  @media (min-width: 1440px) {
    right: 390px;
    bottom: 85px;
  }
}
