.form__wrapper {
  width: 280px;
  height: auto;
  margin: 0 20px;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__wrapper fieldset {
  border: none;
  padding: 0;
}

.form__text {
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}
