.main-nav__wrapper {
  position: relative;

  @media (min-width: 768px) {
    position: inherit;
    margin-top: 20px;
  }
}

.main-nav__toggle {
  @media (min-width: 768px) {
    display: none;
  }
}
