@mixin footer-border {
  margin: 0 20px;
}

.page-footer__main {
  background-color: $basic-gray;
}

.page-footer__contacts {
  @media (min-width: 1440px) {
    position: relative;
  }
}

.page-footer__wrapper {
  @include footer-border;
  display: grid;
  grid-template-rows: 93px 63px 79px;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    min-height: 136px;
    margin: 0 30px;
  }

  @media (min-width: 1440px) {
    margin: 0 110px;
    min-height: 144px;
  }
}

.page-footer__name {
  align-self: center;
  margin: 0 auto;
  margin-top: 5px;

  &--inner:hover {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: 768px) {
    margin: 0;
  }
}

.page-footer__social {
  border-top: 1px solid $light-gray-footer;

  @media (min-width: 768px) {
    border-top: none;
  }
}

.page-footer__copyright-link-block {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $light-gray-footer;

  @media (min-width: 768px) {
    border-top: none;
    width: 164px;
  }
}

.page-footer__contacts--inner {
  background-color: $basic-gray;
}
