@mixin footer-border {
  width: 280px;
  margin: 0 20px;
}

.page-footer__main {
  background-color: $basic-gray;
}

.page-footer__wrapper {
  @include footer-border;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.page-footer__name {
  align-self: center;
  margin: 0 auto;
}

.page-footer__copyright-link-block {
  display: flex;
  width: 280px;
  min-height: 65px;
  justify-content: space-between;
  align-items: center;
}
