.page-main__catalog-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 708px;
    margin: 0 30px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    margin: 0 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  position: relative;

  &::after {
    position: absolute;
    left: -20px;
    bottom: -10px;
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: $light-gray-border-catalog;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;

    &::after {
      display: none;
    }
  }
}
