.product-pitch {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 380px;
    margin: 0 80px;
  }
}

.product-pitch__wrapper {
  min-height: 267px;
  background-color: $basic-gray;
  margin: 0 20px;
  padding-left: 20px;
  padding-right: 33px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-height: 372px;
    margin: 15px 30px;
    padding: 0 279px 30px 52px;
  }

  @media (min-width: 1440px) {
    width: 44.5%;
    margin: 36px 30px 27px;
    padding-right: 0;
    min-height: 374px;
  }
}

.product-pitch__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 32px;
  padding-left: 72px;

  @media (min-width: 768px) {
    font-size: 36px;
    padding-top: 76px;
    padding-left: 1px;
    margin-bottom: 26px;
  }

  @media (min-width: 1440px) {
    padding-top: 46px;
    padding-left: 161px;
    margin-bottom: 74px;
  }
}

.product-pitch__text {
  min-width: 240px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-gray;
  padding-top: 9px;
  padding-bottom: 21px;
  margin-bottom: 19px;
  border-bottom: 1px solid $light-gray-footer;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 57px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 33px;
    padding-right: 41px;
  }
}

.product-pitch__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}
