.promo {
  min-height: 480px;
  position: relative;
  text-align: center;
  color: $background;
  margin-top: 14px;

  @media (min-resolution: 2dppx) {
    background: url("../img/background-cat@2x.jpg") no-repeat;
    background-size: 320px auto;
  }

  @media (min-width: 768px) {
    position: relative;
    margin: -15px 116px 382px;
    background: none;
    width: 609px;
    height: auto;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    height: auto;
    position: relative;
    margin-left: 190px;
    margin-top: 42px;
    margin-bottom: 86px;
  }
}

.promo__wrapper {
  min-height: 302px;
  box-sizing: border-box;
  box-shadow: $shadow-promo;
  padding-top: 7px;
  background: linear-gradient($background-promo, $background-promo) top/ 100% 302px, url("../img/background-cat.jpg") top/ cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background: none;
    color: $color-basic;
    box-shadow: none;
    text-align: left;
    height: auto;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    background: none;
    height: auto;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top: 20px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 43px;

    span {
      display: block;
    }
  }

  @media (min-width: 1440px) {
    margin-top: 44px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__food {
  @media (min-width: 768px) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: 1440px) {
    width: 552px;
    height: 499px;
  }
}

.promo__image {
  width: 280px;
  height: 270px;
  position: absolute;
  bottom: 43px;
  margin: 0 -140px;

  @media (min-width: 768px) {
    min-width: 709px;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 253px;
    left: -87px;
    margin: 0;
  }

  @media (min-width: 1440px) {
    min-width: 552px;
    height: auto;
    position: absolute;
    left: 60.3%;
    top: -33px;
    z-index: 0;
  }
}
