$color-basic: #111111;
$background: #FFFFFF;

.promo {
  width: 320px;
  min-height: 480px;
  position: relative;
  align-content: center;
  text-align: center;
  color: $background;
  background: url("../img/background-cat.jpg") no-repeat;


  .promo__wrapper {
    min-height: 302px;
    box-sizing: border-box;
    background-color: $background-promo;
    box-shadow: $shadow-promo;
    padding-top: 5px;

    .promo__title {
      font-size: 36px;
      line-height: 36px;
      font-weight: 400;
    }

    .promo__slogan {
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.promo__image {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
