.promo-gift {
  width: 280px;
  height: 289px;
  text-align: center;
  color: $background;
  background: url("../img/icon/icon-gift.svg") no-repeat 50% 27%, url("../img/gift-cat.jpg") no-repeat;
  background-color: $basic-green;
  margin-top: 39px;
  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background: url("../img/icon/icon-gift.svg") no-repeat 50% 27%, url("../img/gift-cat@2x.jpg") no-repeat;
    background-size: auto, contain;
  }

  @media (min-width: 768px) {
    width: 708px;
    height: 200px;
    background: url("../img/icon/icon-gift.svg") no-repeat 12.5% 48%, url("../img/gift-cat-medium.jpg") no-repeat;
    background-color: $basic-green;
    text-align: left;
    margin-top: 73px;
    margin-bottom: 76px;

    @media (min-resolution: 2dppx) {
      background: url("../img/icon/icon-gift.svg") no-repeat 12.5% 48%, url("../img/gift-cat-medium@2x.jpg") no-repeat;
      background-size: auto, contain;
    }
  }

  @media (min-width: 1440px) {
    width: 245px;
    height: 289px;
    text-align: center;
    color: $background;
    background: url("../img/icon/icon-gift.svg") no-repeat 51% 27%, url("../img/gift-cat-large.jpg") no-repeat;
    background-color: $basic-green;
    margin-top: 178px;
    margin-bottom: 29px;

    @media (min-resolution: 2dppx) {
      background: url("../img/icon/icon-gift.svg") no-repeat 51% 27%, url("../img/gift-cat-large@2x.jpg") no-repeat;
      background-size: auto, cover;
    }
  }
}

.promo-gift__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 187px 0 60px 0;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding-top: 72px;
    padding-left: 424px;
  }

  @media (min-width: 1440px) {
    padding: 171px 0 0 0;
  }
}
