.social__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 63px;
  justify-content: space-between;
  align-items: center;
  margin: 0 93px;
  list-style: none;
  padding: 0;

  @media (min-width: 768px) {
    width: 163px;
  }
}
