$background: #ffffff;
$color-basic: #111111;

@mixin button-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button {
  width: 280px;
  margin: 0 auto;
  height: 40px;
  background-color: $basic-green;
  text-align: center;
  color: $background;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $hover-green;
  }

  &:active {
    color: $white-opacity;
  }
}

.button__catalog-main--catalog {
  @include button-text;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0;

  @media (min-width: 768px) {
    width: 248px;
    margin-top: 0;
  }

  @media (min-width: 1440px) {
    width: 168px;
  }
}

.button__catalog-main--add,
.button__worksheet {
  @include button-text;
}

.button__worksheet {
  width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 12px;
    margin-left: 1px;
    margin-right: 0;
  }

  @media (min-width: 1440px) {
    width: 568px;
    margin-top: 10px;
    margin-bottom: 66px;
  }
}

.button__catalog-main--more {
  @include button-text;
  background-color: $basic-gray;
  color: $special-dark-gray;
  margin-bottom: 25px;

  &:hover {
    background-color: $light-gray-border-catalog;
  }

  &:active {
    color: $special-dark-gray-opacity;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    margin-bottom: -3px;
    width: 248px;
    height: 40px;
    padding: 10px 0;
  }

  @media (min-width: 1440px) {
    width: 168px;
    margin-bottom: -2px;
  }
}

.button__catalog-main--add {
  @media (min-width: 768px) {
    width: 632px;
  }

  @media (min-width: 1440px) {
    width: 245px;
  }
}

.button__promo-main {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0;

  @media (min-width: 768px) {
    position: absolute;
    top: 128px;
    left: -4px;
    font-size: 20px;
    width: 244px;
    height: 54px;
    padding: 18px 0;
  }

  @media (min-width: 1440px) {
    top: 185px;
    left: 0;
  }
}
