$color-basic: #111111;
$background: #ffffff;
$background-promo: rgba(104, 183, 56, 0.85);

.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-basic;
  background-color: $background;
  margin: 0;
  padding: 0;

  .page__body-container {
    max-width: 320px;
    height: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 768px;
      height: 100%;
      margin: 0 auto;
    }

    @media (min-width: 1440px) {
      max-width: 1440px;
      height: 100%;
      margin: 0 auto;
      position: relative;

      &--main::before {
        content: "";
        width: 50%;
        height: 694px;
        background-image: url("../img/rectangle.png"), url("../img/background-cat-large.jpg");
        background-repeat: no-repeat;
        top: -26px;
        right: 0;
        z-index: -1;
        position: absolute;

        @media (min-resolution: 2dppx) {
          background: url("../img/rectangle@2x.png"), url("../img/background-cat-large@2x.jpg");
          background-repeat: no-repeat;
          background-size: 100% 694px;
        }
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $color-basic;
}

img {
  max-width: 100%;
  height: auto;
}
