$basic-green: #68B738;
$background: #FFFFFF;
$color-basic: #111111;
$background-promo: rgba(104, 183, 56, 0.85);
$shadow-promo: 0px 4px 4px rgba(0, 0, 0, 0.25);
$basic-gray: #F2F2F2;
$special-dark-gray: #444444;
