// Colors

$basic-green: #68b738;
$background: #ffffff;
$color-basic: #111111;
$background-promo: rgba(104, 183, 56, 0.85);
$shadow-promo: 0 4px 4px rgba(0, 0, 0, 0.25);
$basic-gray: #f2f2f2;
$special-dark-gray: #444444;
$light-gray: #e6e6e6;
$light-gray-border: #e7e7e7;
$light-gray-radio: #cdcdcd;
$light-gray-border-catalog: #ebebeb;
$light-gray-footer: #d9d9d9;
$light-gray-stats: #eaeaea;
